.contact {
  position: relative;
  padding: 100px 0 180px;
  .contact-wrapper {
    display: block;
    border-radius: 75px;
    .slider-wrapper {
      display: block;
      width: 100%;
      padding: 100px 30px 100px 100px;
      .contact-title {
        display: block;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        color: var(--color4);
        letter-spacing: 5px;
      }
      .address-slider {
        display: block;
        width: 100%;
        position: relative;
        padding-top: 110px;
        .owl-carousel {
          .owl-nav {
            display: block;
            width: 70%;
            position: absolute;
            left: 0;
            top: -60px;
            .owl-prev, .owl-next {
              display: inline-block;
              vertical-align: middle;
              width: 45px;
              height: 45px;
              border-radius: 50%;
              box-shadow: 9.91px 9.91px 15px #cdcdcd, -9.91px -9.91px 15px #FFFFFF;
              @include transition-sm;
              &:hover {
                @include transition-sm;
                .icon {
                  img {
                    filter: invert(1);
                    opacity: 0.3;
                    @include transition-sm;
                  }
                }
              }
              .icon {
                display: block;
                width: 18px;
                height: 18px;
                object-fit: contain;
                background-color: transparent;
                margin: 0 auto;
                position: relative;
                top: -2px;
                img {
                  @include transition-sm;
                }
              }
              &.owl-next {
                float: right;
              }
            }
          }

          .owl-dots {
            display: block;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: -40px;
            .owl-dot {
              display: inline-block;
              vertical-align: middle;
              margin: 0 10px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: var(--color10);
              outline: none;
              border: none;
              @include transition-sm;
              &:first-of-type {
                margin-left: 0;
              }
              &.active, &:hover {
                background-color: var(--color1);
                @include transition-sm;
              }
            }
          }
        }
        .item {
          .title {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            color: var(--color4);
            margin-bottom: 10px;
          }
          .text {
            font-size: 13px;
            font-weight: 400;
            color: var(--color5);
            line-height: 1.6;
          }
        }
      }
    }
    .form-wrapper {
      display: block;
      padding: 80px 60px 70px;
      border-radius: 75px;
      .form-title {
        display: block;
        font-size: 25px;
        font-weight: 500;
        color: var(--shade4);
      }
      .form-meta {
        display: block;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--color9);
        margin-bottom: 25px;
      }
      .contact-form {
        display: block;
        position: relative;
        width: 100%;
        .form-group {
          display: block;
          width: 100%;
          max-width: 350px;
          box-shadow: 9.91px 9.91px 15px -5px #DBDBDB, -9.91px -9.91px 15px -5px #FFFFFF;
          border-radius: 16px ;
        }
        input {
          display: block;
          width: 100%;
          height: 55px;
          border-radius: 16px;
          padding: 0 20px;
          border: 5px solid var(--bgColor);
          background-color: transparent;
          margin-bottom: 15px;
          font-size: 14px;
          font-weight: 400;
          color: var(--shade3);
          outline: none;
          box-shadow: inset 10px 10px 15px #DBDBDB, inset 10px 10px 15px #FFFFFF;
          &::placeholder {
            color: var(--color5);
          }
        }
        button {
          display: inline-block;
          height: 50px;
          padding: 0 20px;
          min-width: 185px;
          border: none;
          outline: none;
          font-size: 16px;
          font-weight: 600;
          color: var(--primary);
          letter-spacing: 2px;
          text-transform: uppercase;
          border-radius: 16px;
        }
      }
      .form-text {
        display: block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.5px;
        color: var(--shade4);
        padding-left: 10px;
        padding-top: 10px;
        margin-top: 10px;
        position: relative;
        &::before {
          content: '';
          height: 1px;
          width: 130px;
          background: var(--color11);
          display: block;
          position: absolute;
          left: 10px;
          top: 0;
        }
      }
    }
  }
}